---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Pago Exitoso">

<div class="min-h-screen flex justify-center items-center bg-white">

    <div class="text-center">

        <h1 class="text-6xl mb-4">
            ✅
        </h1>

        <h2 class="text-4xl font-bold mb-4">
            Pago realizado
        </h2>

        <p class="text-gray-600 mb-6">
            Gracias por tu compra.
        </p>

        <a
            href="/catalogo"
            class="bg-black text-white px-6 py-3 rounded-xl"
        >
            Volver al catálogo
        </a>

    </div>

</div>

</Layout>